<footer class="container-fluid">
    <div class="app-footer">
        <nav class="footerbar">
            <ul>
                <li class="nav-item">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home">FAQs</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home">About</a>
                </li>
            </ul>
        </nav>
        <div>
            <p data-testid="current-year" class="text-center text-body-secondary">©{{currentYear}} Swap Tech, Inc</p>
        </div>
    </div>

</footer>