.container-fluid {
  padding: 0;
}
.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    background-color: #6b97dc;
  }
  .navbar div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 10px;
    background-color: #6b97dc; */
    flex-grow: 1;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
  margin: 0;
  }
  .navbar li {
    padding-left: 1rem;
  }
  .navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
  }
  .navbar-brand:hover {
    background-color: rgb(139, 139, 238) !important;
  }
  .navbar a:hover {
    background-color: #555;
  }
  .active-route {
    background-color: #555;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 37em; /* Adjust spacing as needed */
  }

  .home-navbar{
    margin-right: 37em;
  }