<div class="container-fluid">
    <div class="guest-header">
        <nav class="navbar">
            <a routerLink="/login" class="navbar-brand">FBOOK</a>
            
            <ul>
              <li><a routerLink="/register" routerLinkActive="active-route">Register</a></li>
              <li><a routerLink="/login" routerLinkActive="active-route">Login</a></li>
            </ul>
          </nav>
    </div>

    <!-- <div class="guest-body">
        <router-outlet></router-outlet>
    </div> -->

</div>