<div class="registration-container">
    <div class="registration-box">
      <h2 class="text-center">Registration</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-2">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" name="firstName" placeholder="Enter First name" formControlName="firstName">
          <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
            <div class="text-danger" *ngIf="registrationForm.get('firstName')?.errors?.['required']">First Name is required.</div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name" formControlName="lastName">
          <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
            <div class="text-danger" *ngIf="registrationForm.get('lastName')?.errors?.['required']">Last Name is required.</div>
          </div>
        </div>
        <div class="form-group mt-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email" formControlName="email">
            <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
              <div class="text-danger" *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</div>
              <div class="text-danger" *ngIf="registrationForm.get('email')?.errors?.['email']">Email pattern is invalid.</div>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="dob">Date Of Birth</label>
            <input type="date" class="form-control" name="dob" formControlName="dob">
            <div *ngIf="registrationForm.get('dob')?.invalid && registrationForm.get('dob')?.touched">
              <div class="text-danger" *ngIf="registrationForm.get('dob')?.errors?.['required']">D.O.B. is required.</div>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password" formControlName="password">
            <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
              <div class="text-danger" *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</div>
              <div class="text-danger" *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password should be atleast 6 characters.</div>
            </div>
          </div>
        
        <div class="spaced-elements mt-2">
            <a routerLink="/login" class="btn btn-secondary loginDirect">Login</a>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
      </form>
    </div>
  </div>