<div class="container-fluid">
    <div class="logged-header">
        <nav class="navbar">
            <a routerLink="/home" class="navbar-brand">FBOOK</a>
            
            <ul>
              <li><a routerLink="/home" routerLinkActive="active-route">Home</a></li>
              <li><a routerLink="/home" routerLinkActive="active-route">Network</a></li>
              <li><a routerLink="/home" routerLinkActive="active-route">Friends</a></li>
              <li><a routerLink="/home" routerLinkActive="active-route">Settings</a></li>
              <li><a routerLink="/login" routerLinkActive="active-route">Logout</a></li>
            </ul>
          </nav>
    </div>
</div>