.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .spaced-elements a {
    margin-right: 2.5rem;
  }

  button:disabled {
    background-color: #423838;
    color: #e7f0f2;
    cursor: not-allowed;
    opacity: 0.6;
  }   

  p {
    color: #2b7585;
  }  
