<div class="login-container">
  <div class="login-box">
    <h2 class="text-center">Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group mt-2">
        <label for="username">Username</label>
        <input type="email" class="form-control" name="username" #username="ngModel" placeholder="Enter email" ngModel required email>
        <span *ngIf="username.invalid && username.touched" class="text-danger">Email should be in valid format!</span>
      </div>
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" #password="ngModel" minlength="6" placeholder="Enter password" ngModel required>
        <span *ngIf="password.invalid && password.touched && password.value.length==0" class="text-danger">Password is required!</span>
        <div class="text-danger" *ngIf="password?.errors?.['minlength']">Password should be atleast 6 characters.</div>
      </div>

      <div class="spaced-elements mt-2">
        <a routerLink="/forgot-password">Forgot Password</a>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
      <div>
        <p>New?
          <a routerLink="/register" routerLinkActive="active-route">Register Now!</a>
        </p>
      </div>
    </form>
  </div>
</div>